.menu-container .menu-card.show {
  opacity: 1;
  transform: translateY(0);
  animation: appear 0.6s ease;
  pointer-events: auto;
}
.menu-container .menu-card.hide {
  display: none;
}
@keyframes appear{
  from{
    opacity: 0;
    transform: translateY(100px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
