* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-main-text: white;
  --color-nav-bar: #ffbe33;
  --color-nav-link-hover: #ffbe33;
  --color-paragraph: #ececec;
  --background-color-menu-black: #1f242d;
  --background-color-menu-img: #f1f2f3;
  --color-button-text: #ececec;
  --color-button: #ffbe33;
  --color-button-hover: #e69c00;
}

.header {
  background-image: url("../img/hero-bg.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 2rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  height: 90px;
}
.header .navbar .title {
  font-size: 32px;
  line-height: 48px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: var(--color-main-text);
  width: 25%;
}

.header .navbar .nav-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  justify-content: center;
  padding: 0px;
  gap: 40px;
  width: 50%;
}
.header .navbar .nav-links .nav-link {
  text-decoration: none;
  color: var(--color-main-text);
}
.header .navbar .nav-links .nav-link:hover {
  color: var(--color-nav-link-hover);
  transition: 0.3s;
}

.header .navbar .icon {
  margin-left: auto;
  width: 10%;
}
.header .navbar .icon .icon-link {
  color: var(--color-main-text);
}
.action_btn {
  text-decoration: none;
  border: none;
  color: var(--color-button-text);
  font-size: 17px;
  font-weight: 400;
  background-color: var(--color-nav-bar);
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  width: 15%;
}
.action_btn:hover {
  background-color: var(--color-button-hover);
  transition: 0.5s ease;
}
.header .navbar .burger {
  display: none;
  cursor: pointer;
  font-size: 25px;
}
.header .header-des {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  flex-wrap: wrap;
  margin: 55px auto;
  justify-content: center;
}
.header .header-des h1 {
  font-size: 52px;
  line-height: 88px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-main-text);
}
.header .header-des p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  color: var(--color-paragraph);
  width: 50%;
}
.header .header-des .btn {
  margin-top: 22px;
  text-decoration: none;
  border: none;
  color: var(--color-button-text);
  font-size: 17px;
  font-weight: 500;
  background-color: var(--color-button);
  padding: 14px 5px;
  text-align: center;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  width: 190px;
}
.header .header-des .btn:hover {
  background-color: var(--color-button-hover);
  transition: 0.5s ease;
}
.offers-container {
  margin: 60px auto;
  max-width: 1100px;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.offers-container .offer-card {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-color-menu-black);
  align-items: center;
  gap: 20px;
  width: 100%; /* full width of container */
  max-width: 560px; /* optional limit */
  border-radius: 2%;
  padding: 20px;
}
.offers-container .offer-card .offer-img {
  width: 170px;
  height: 170px;
  border: 6px solid #ffbe33;
  border-radius: 50%;
  overflow: hidden;
}
.offers-container .offer-card .offer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers-container .offer-card .offer-img img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.offers-container .offer-card .offer-text {
  color: white;
  font-size: 31px;
}
.offers-container .offer-card .offer-text h5 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.offers-container .offer-card .offer-text h6 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.offers-container .offer-card .offer-text span {
  font-size: 18px;
}
.Our-Menu {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}
.menu-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 350px));
  gap: 30px;
  justify-content: center;
  margin: 40px auto;
}
.menu-container .menu-card {
  background: var(--background-color-menu-black);
  border-radius: 15px;
  overflow: hidden;
}
.menu-container .menu-card .menu-img {
  background-color: var(--background-color-menu-img);
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 40px;
}
.menu-container .menu-card .menu-img img {
  width: 200px;
  height: 180px;
  margin: 20px auto;
}
.menu-container .menu-card .menu-img img:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
.menu-container .menu-card .menu-text {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  color: var(--color-paragraph);
}
.menu-container .menu-card .menu-text h2 {
  font-size: 20px;
}
.menu-container .menu-card .menu-text p {
  width: 270px;
  font-size: 15px;
}
.menu-container .menu-card .menu-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
}
.menu-container .menu-card .menu-footer .menu_btn {
  text-decoration: none;
  color: var(--color-button-text);
  font-size: 15px;
  background-color: var(--color-button);
  padding: 15px 15px;
  border: none;
  border-radius: 80px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.menu-container .menu-card .menu-footer .menu_btn:hover {
  background-color: var(--color-button-hover);
  transition: 0.5s ease;
}
.more {
  text-align: center;
  margin-top: 40px;
}
.btn-more {
  text-decoration: none;
  color: var(--color-button-text);
  font-size: 17px;
  background-color: var(--color-button);
  padding: 14px 5px;
  border: none;
  text-align: center;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  cursor: pointer;
  width: 190px;
}
.btn-more:hover {
  background-color: var(--color-button-hover);
  transition: 0.5s ease;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color-menu-black);
  padding: 50px;
  margin-top: 40px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.about .about-img {
  max-width: 500px;
}
.about .about-img img {
  width: 100%;
  height: 605px;
}
.about .about-text {
  margin: 20px 0px;
}
.about .about-text h1 {
  font-size: 52px;
  line-height: 88px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-main-text);
}
.about .about-text p {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  max-width: 570px;
  font-style: normal;
  color: var(--color-paragraph);
}

.booking-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 80px auto;
  align-items: center;
}

/* FORM */
.booking-container .booking-form h2 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  margin-bottom: 30px;
}

.booking-container .booking-form input,
.booking-container .booking-form select {
  width: 100%;
  padding: 18px 17px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 2px solid #ccc;
  font-size: 15px;
  transition: 0.4s;
}
.booking-container .booking-form option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;  
  font-size: 16px;
  padding: 10px;
  transition: 0.4s;
}
.booking-container .booking-form select,
::picker(select){
  appearance: base-select;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: medium;
  font-weight: 500;
  outline: none;
  font-family: sans-serif;
}

.booking-container .booking-form select:open::picker-icon {
  rotate: 180deg;
}

.booking-container .booking-form input:focus,
.booking-container .booking-form select:focus {
  outline: none;
  border:2px solid #ffbe33;
}

.booking-container .booking-form .book-btn {
  margin-top: 20px;
  background: #ffbe33;
  color: #fff;
  border: none;
  padding: 14px 50px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.booking-container .booking-form .book-btn:hover {
  background-color: var(--color-button-hover);
  transition: 0.5s ease;
}

/* MAP */
.booking-container .booking-map iframe {
  width: 100%;
  height: 70%;
  border: none;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Responsive */
@media (max-width: 1120px) {
  .header .navbar .nav-links,
  .navbar .action_btn,
  .navbar .icon {
    display: none;
  }
  .header .navbar .burger {
    display: block;
  }
  .offers-container,
  .offer-card,
  .menu-container,
  .booking-container {
    grid-template-columns: 350px 350px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  /* For screens smaller than 768px */
  .offers-container,
  .menu-container,
  .booking-container {
    grid-template-columns: 350px; /* Stack items in a single column */
    justify-content: center;
  }
  .about {
    text-align: center;
  }
}
